.status__content__text,
.reply-indicator__content,
.composer--reply > .content,
.account__header__content,
.status__content > .e-content
{
  .emojione {
    width: 20px;
    height: 20px;
    margin: -3px 0 0;
  }

  & > ul,
  & > ol {
    margin-bottom: 20px;
  }

  h1, h2, h3, h4, h5 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1, h2 {
    font-weight: 700;
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.1em;
  }

  h3, h4, h5 {
    font-weight: 500;
  }

  blockquote {
    padding-left: 10px;
    border-left: 3px solid $darker-text-color;
    color: $darker-text-color;
    white-space: normal;

    p:last-child {
      margin-bottom: 0;
    }
  }

  b, strong {
    font-weight: 700;
  }

  em, i {
    font-style: italic;
  }

  sub {
    font-size: smaller;
    text-align: sub;
  }

  sup {
    font-size: smaller;
    vertical-align: super;
  }

  ul, ol {
    margin-left: 1em;

    p {
      margin: 0;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  a {
    color: $secondary-text-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;

      .fa {
        color: lighten($dark-text-color, 7%);
      }
    }

    &.mention {
      &:hover {
        text-decoration: underline;

        span {
          text-decoration: none;
        }
      }
    }

    .fa {
      color: $dark-text-color;
    }
  }

  a.unhandled-link {
    color: lighten($ui-highlight-color, 8%);

    .link-origin-tag {
      color: $gold-star;
      font-size: 0.8em;
    }
  }

  s { text-decoration: line-through; }
  del { text-decoration: line-through; }
  h6 { font-size: 8px; font-weight: bold; }
  hr { border-color: lighten($dark-text-color, 10%); }
  pre, code {
    color: #6c6;
    text-shadow: 0 0 4px #0f0;

    background: linear-gradient(
      to bottom,
      #121 1px,
      #232 1px
    );
    background-size: 100% 2px;
  }
  pre {
    & > code {
      background: transparent;
    }
    padding: 10px;
    border: 2px solid darken($ui-base-color, 20%);
  }
  mark {
    background-color: #ccff15;
    color: black;
  }
  blockquote {
    font-style: italic;
  }
  .center, .centered, center {
    text-align: center;
  }
  summary {
    color: lighten($primary-text-color, 33%);
    font-weight: bold;

    &:focus, &:active {
      outline: none;
    }
  }
  details > p, details > span {
    padding-top: 5px;
    padding-left: 10px;
    border-left: 3px solid $darker-text-color;
    color: $darker-text-color;
    white-space: normal;

    p:last-child {
      margin-bottom: 0;
    };
  }
  p[data-name="footer"] {
    color: lighten($dark-text-color, 10%);
    font-style: italic;
    font-size: 12px;
    text-align: right;
    margin-top: 0px;
  }
}